body{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    background-color: rgb(233, 233, 233);
margin-top: 70px;
margin-bottom: 80px;
    
}



.pod{
    margin-top: -35px;
}

.p{
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: medium;
}


h3{
  font-size: medium;  
font-weight: 800;
}

p{
    margin-bottom: -5px;
    font-family: Roboto, sans-serif;
    font-size: 13px;
}

.fit{
    
    text-align: left;
    padding-left: 15px;
    padding-top: 15px;
margin-top: -20px;
height: 125px;
width: 175px;

border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
}

.footer{
    padding-left: 25px;
    padding-right: 20px;
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
margin-top: 50px;
    background-color: rgb(223, 223, 223);
}



.footies{
    flex: 1;
    display: flex;
margin-bottom: 10px;
align-items: center;
font-size: xx-small;
font-weight: 500;
}

.footies-1{
    display: flex;
margin-right: 50px;
margin-bottom: 10px;
font-size: xx-small;
align-items: center;
justify-content: space-between;
font-weight: 500;

}

.footies-2{
    display: flex;
margin-bottom: 10px;
justify-content: space-between;
align-items: center;
font-size: xx-small;
font-weight: 500;
}

img{
    width: 190px;
    height: 125px;
        border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.price-tag{
    
    border: none;
font-weight: 700;
    border-radius: 5px;
right: 16px;
bottom: 57px;
 
  
    position: absolute;
    font-family: Roboto, sans-serif;
}

button{
    color: white;
    background-color: rgb(45, 45, 221);
    border-style: solid;
    border: none;
    height: 30px;
    width: 90px;
    font-family: Roboto,sans-serif;
    font-weight: 500;
    border-radius: 5px;
margin-left: 70px;
margin-top: -1px;
}


button:hover{
    cursor: pointer;
    background-color: rgb(75, 75, 250);
}

button:active{
    opacity: 0.5;
    transition: 0.05s;
}

.container{
    display: grid;
     background-color: rgb(255, 255, 255);
     width: 700px;
     height: 700px;
     margin-left: 310px;
     text-align: center;
   
 }




.grid-containment{
    margin-top: 20px;
    display: grid;
}
.show-case{
    text-align: left;
 
    height: 17rem;
    background-color: rgb(255, 255, 255);

    border-radius: 15px;
    box-shadow:  0 10px 10px -6px rgba(17, 16, 16, 0.9);
}

article{
    grid-template-columns: 1fr 1fr 1fr;
    height: 3rem;
    width: 100%;
    max-width: 600px;
    background-color: white;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    gap: 1rem;
}

.item-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
gap: 3rem;
    background-color: black;
   
    

     }


h5{
    margin-top: -15px;
    font-weight: 400;
    right: -86px;
bottom: px;

 
  
    position: absolute;
    font-family: Roboto, sans-serif;
}

.item-watch{
 
    width: 120px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 75px;
}

.header{
    height: 35px;
   
    
text-align: left;
    padding: 10px;
    
    width: auto;
    margin-bottom: 200px;
    box-shadow:  0 9px 7px -11px rgba(0, 0, 0, 0.4);
    background-color: rgb(114, 110, 110);
}